body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1082px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:1920px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:1920px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u2 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:418px;
}
#u3 {
  position:absolute;
  left:0px;
  top:1502px;
  width:1080px;
  height:418px;
}
#u4 {
  position:absolute;
  left:2px;
  top:201px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:522px;
}
#u7 {
  position:absolute;
  left:928px;
  top:117px;
  width:132px;
  height:522px;
}
#u8 {
  position:absolute;
  left:2px;
  top:253px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:894px;
  top:104px;
  width:183px;
  height:186px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:894px;
  top:296px;
  width:183px;
  height:186px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:894px;
  top:485px;
  width:183px;
  height:186px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:412px;
}
#u14 {
  position:absolute;
  left:676px;
  top:273px;
  width:360px;
  height:412px;
}
#u15 {
  position:absolute;
  left:2px;
  top:198px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:676px;
  top:289px;
  width:360px;
  height:134px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:676px;
  top:422px;
  width:360px;
  height:134px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:676px;
  top:556px;
  width:354px;
  height:134px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:190px;
}
#u20 {
  position:absolute;
  left:506px;
  top:1413px;
  width:142px;
  height:190px;
  opacity:0.6;
}
#u21 {
  position:absolute;
  left:2px;
  top:87px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:190px;
}
#u22 {
  position:absolute;
  left:465px;
  top:1413px;
  width:142px;
  height:190px;
  opacity:0.6;
}
#u23 {
  position:absolute;
  left:2px;
  top:87px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:190px;
}
#u24 {
  position:absolute;
  left:423px;
  top:1413px;
  width:142px;
  height:190px;
  opacity:0.6;
}
#u25 {
  position:absolute;
  left:2px;
  top:87px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u28 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:268px;
  top:808px;
  width:546px;
  height:202px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:1920px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  overflow:hidden;
}
#u30_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:1920px;
}
#u31 {
  position:absolute;
  left:3px;
  top:0px;
  width:1077px;
  height:1920px;
}
#u32 {
  position:absolute;
  left:2px;
  top:952px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:186px;
}
#u33 {
  position:absolute;
  left:3px;
  top:0px;
  width:1077px;
  height:186px;
}
#u34 {
  position:absolute;
  left:2px;
  top:85px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:61px;
  width:135px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u37 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:54px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:54px;
}
#u39 {
  position:absolute;
  left:2px;
  top:19px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u40 {
  position:absolute;
  left:61px;
  top:101px;
  width:47px;
  height:47px;
}
#u41 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:85px;
}
#u42 {
  position:absolute;
  left:47px;
  top:777px;
  width:989px;
  height:85px;
}
#u43 {
  position:absolute;
  left:2px;
  top:34px;
  width:985px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:497px;
}
#u44 {
  position:absolute;
  left:0px;
  top:1423px;
  width:1080px;
  height:497px;
}
#u45 {
  position:absolute;
  left:2px;
  top:240px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:565px;
}
#u46 {
  position:absolute;
  left:27px;
  top:1325px;
  width:1016px;
  height:565px;
}
#u47 {
  position:absolute;
  left:2px;
  top:274px;
  width:1012px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:30px;
  top:71px;
  width:108px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49 {
  position:absolute;
  left:14px;
  top:734px;
  width:125px;
  height:179px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  position:absolute;
  left:945px;
  top:734px;
  width:135px;
  height:179px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u52 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:54px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:54px;
}
#u54 {
  position:absolute;
  left:2px;
  top:19px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:429px;
}
#u55 {
  position:absolute;
  left:0px;
  top:1491px;
  width:1080px;
  height:429px;
}
#u56 {
  position:absolute;
  left:2px;
  top:206px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:612px;
}
#u57 {
  position:absolute;
  left:105px;
  top:575px;
  width:871px;
  height:612px;
}
#u58 {
  position:absolute;
  left:2px;
  top:298px;
  width:867px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u59 {
  position:absolute;
  left:61px;
  top:101px;
  width:47px;
  height:47px;
}
#u60 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:30px;
  top:71px;
  width:108px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:1920px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u63 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:186px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:186px;
}
#u65 {
  position:absolute;
  left:2px;
  top:85px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:64px;
  width:135px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
